*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --kanji-size: 30px;
}

body {
    display: grid;
    grid-template-rows: 50px 44px 1fr;
}

.page-header {
    display: flex;
}

.page-title {
    font-weight: normal;
    font-size: 24px;
    margin-left: 20px;
    align-self: center;
}

.search-box {
    display: grid;
    grid-template-rows: 24px;
    grid-template-columns: 200px 24px;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    border: 1px solid black;
}

.search-input {
    border: none;
    font-size: 15px;
}

.search-button {
    display: flex;
    border: none;
    border-left: 1px solid black;
}

.search-button > img {
    background-color: white;
    flex-grow: 1;
}

.chosen-vocabulary-wrapper {
    display: flex;
    flex-direction: column;
}

.chosen-vocabulary {
    width: 350px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.chosen-meaning {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.chosen-vocabulary .furigana-writing {
    align-self: center;
}

.furigana-writing:not(.no-furigana) {
    display: grid;
    grid-template-rows: 18px 35px;
}

.no-furigana {
    display: grid;
    grid-template-rows: 35px;
}

.furigana {
    display: flex;
    align-items: center;
}

.furigana > span {
    width: var(--kanji-size);
    text-align: center;
    max-height: 18px;
}

.furigana-length-1 {
    font-size: calc(var(--kanji-size) / 2);
}

.furigana-length-2 {
    font-size: calc(var(--kanji-size) / 2);
}

.furigana-length-3 {
    font-size: calc(var(--kanji-size) / 3);
}

.furigana-length-4 {
    font-size: calc(var(--kanji-size) / 4);
}

.writing {
    font-size: var(--kanji-size);
}

.meanings {
    padding-inline-start: 30px;
}

.vocabularies {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px;
}

.vocabulary:not(.chosen-vocabulary) {
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(128, 128, 128, 0.5);
    text-align: start;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman';
    font-size: 16px;
}

.vocabularies .meanings {
    margin-top: 15px;
}