*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --kanji-size: 30px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 44px 1fr;
}

.page-header {
    display: flex;
}

.page-title {
    font-weight: normal;
    font-size: 24px;
    margin-left: 20px;
    align-self: center;
}

.search-box {
    display: grid;
    grid-template-rows: 24px;
    grid-template-columns: 200px 24px;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    border: 1px solid black;
}

.search-input {
    border: none;
    font-size: 15px;
}

.search-button {
    display: flex;
    border: none;
    border-left: 1px solid black;
}

.search-button > img {
    background-color: white;
    flex-grow: 1;
}

.vocabularies {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 20px 20px;
}

.reading-writing {
    display: grid;
    grid-template-rows: 18px 35px;
}

.reading {
    display: flex;
    align-items: center;
}

.reading > span {
    width: var(--kanji-size);
    text-align: center;
    max-height: 18px;
}

.reading-length-1 {
    font-size: calc(var(--kanji-size) / 2);
}

.reading-length-2 {
    font-size: calc(var(--kanji-size) / 2);
}

.reading-length-3 {
    font-size: calc(var(--kanji-size) / 3);
}

.reading-length-4 {
    font-size: calc(var(--kanji-size) / 4);
}

.writing {
    font-size: var(--kanji-size);
}

.meanings {
    padding-inline-start: 30px;
    padding-top: 15px;
}